/*Agregamos color de fondo*/
*{
    background-color: rgb(36, 41, 51);
}
/*Agregamos color general de fuente*/
*{
    color:azure;
}
/*Sección header*/
#titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}
#eslogan{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
/*Sección Equipo/Quienes somos*/

/*Sección Servicios*/

/*Sección footer*/      